@use '../abstracts' as *;

.hero {
    padding-top: 8.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__container {
        padding-left: 2.25rem;

        @include mq-width('min', 'xl') {
            padding-left: 17rem;   
        }
    }

    &__a {
        color: map-get($palette, 'light-blue');
        font-size: .75rem;
        font-weight: $fw-medium;

        @include mq-width('min', 'xl') {
            font-size: 1.125rem;
        }
    }
    
    &__h2 {
        font-size: 1.5rem;
        font-weight: $fw-medium;
        width: 84%;

        @include mq-width('min', 'xl') {
            font-size: 3rem;
            width: 49%;
            margin-bottom: 1rem;
        }
    }
    
    &__h2:nth-child(1) {
        width: 67%;
        margin-bottom: 1rem;

        @include mq-width('min', 'xl') {
            width: 39%;
            margin-bottom: 2.5rem;
        }
    }

    &__figure {
        width: 92%;
        height: 9.063rem;
        margin-inline: auto;
        margin-bottom: 1rem;

        @include mq-width('min', 'xl') {
            width: 95%;
            height: 22.125rem;
        }

        img {
            height: 100%;
            border-radius: 1.125rem;
        }
    }

    &__p {
        font-size: .75rem;
        font-weight: $fw-regular;
        width: 83%;
        margin-bottom: 2rem;
        
        @include mq-width('min', 'xl') {
            font-size: 1.125rem;
            width: 34%;
        }
    }

    &__form {
        align-items: flex-start;
    }
}