@use '../abstracts' as *;

.main {

    &__h2 {
        font-size: 1.5rem;
        font-weight: $fw-medium;

        @include mq-width('min', 'xl') {
            font-size: 2.25rem;
        }
    }

    .services__section {

        .services__h2 {
            width: 56%;
            margin: 7rem 0 2rem 3rem;

            @include mq-width('min', 'xl') {
                width: 24%;
                margin: 12rem 0 2rem 9.5rem;
            }
        }
        
        .services__container {
            display: flex;
            flex-direction: column;
            place-content: center;
            gap: 2rem;
            margin: 0 0 5rem 0;

            @include mq-width('min', 'xl') {
                flex-direction: row;
            }
        }
    }

    .design__section {
        margin-bottom: 5rem;

        .design__h2 {
            margin: 0 0 3rem 3rem;
            width: 83%;
            
            @include mq-width('min', 'xl') {
                margin: 15rem 0 3rem 9.5rem;
                width: 28%;
            }
        }
        
        .design__container {
            display: flex;
            flex-direction: column;
            gap: 1.75rem;
            
            @include mq-width('min', 'xl') {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 78%;
                margin-inline: auto;
                row-gap: 8rem;
            }
        }

        .design__div {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mq-width('min', 'xl') {
                margin-inline: auto;

                &:nth-child(odd) {
                    position: relative;
                    top: 8.75rem;
                }
            }
        }

        .design__figure {
            width: 95%;
            margin-bottom: 1rem;
            
            img {
                border-radius: .75rem;
            }
        }

        .design__p {
            color: map-get($palette, 'grey-shaded');
            font-size: .75rem;
            font-weight: 300;
            align-self: flex-start;
            margin-left: .5rem;

            @include mq-width('min', 'xl') {
                font-size: .875rem;
            }
        }
        
        .design__h4 {
            font-size: 1.125rem;
            font-weight: $fw-medium;
            align-self: flex-start;
            margin-left: .5rem;

            @include mq-width('min', 'xl') {
                font-size: 1.5rem;
            }
        }

        .design__a {
            color: map-get($palette, 'light-blue');
            font-size: 1.125rem;
            font-weight: $fw-medium;
            display: flex;
            gap: .75rem;
            margin-left: .5rem;

            @include mq-width('min', 'xl') {
                align-items: center;
                font-size: 1.5rem;
                grid-column: 2 / 3;
                justify-content: flex-end;
                margin-top: 4.5rem;
            }

            .design__span--arrow {
                padding-top: .15rem;
                font-variation-settings:
                'FILL' 1,
                'wght' 700,
                'GRAD' -25,
                'opsz' 20
            }
        }
    }

    .team__section {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;

        @include mq-width('min', 'xl') {
            flex-direction: row;
            width: 90%;
            margin-inline: auto;
        }

        .team__div--texts {
            display: flex;
            flex-direction: column;
            margin-left: .5rem;

            @include mq-width('min', 'xl') {
                margin-left: 5rem;
                margin-top: 7.5rem;
            }
            
            .team__p:nth-child(1) {
                color: map-get($palette, 'crimson');
                font-size: 1.125rem;
                font-weight: $fw-medium;
                
                @include mq-width('min', 'xl') {
                    margin-bottom: .25rem;
                }
            }

            .team__h2 {
                font-size: 2.25rem;
                width: 75%;
                margin-bottom: .75rem;
                
                @include mq-width('min', 'xl') {
                    width: 54%;
                    margin-bottom: 1rem;
                }
            }
            
            .team__p:nth-child(3) {
                width: 61%;
                margin-bottom: 2rem;

                @include mq-width('min', 'xl') {
                    width: 49%;
                }
            }
        }

        .team__div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: .5rem;

            @include mq-width('max', 'md') {
                margin-inline: auto;
            }

            @include mq-width('min', 'xl') {
                margin-inline: unset;
                gap: 1rem;
            }

            img {
                border-radius: 1.5rem;
            }

            .team__figure--3 {
                position: relative;
                top: 4.375rem;
                width: 11.125rem;
                height: 11.125rem;

                @include mq-width('max', 'sm') {
                    @media screen and (max-width: 349px) {
                        width: 9.125rem;
                        height: 9.125rem;
                    }
                    width: 10.125rem;
                    height: 10.125rem;
                }

                @include mq-width('min', 'xl') {
                    width: 20rem;
                    height: 20rem;
                    top: 7.188rem;
                }
            }
            
            .team__figure--2 {
                position: relative;
                top: -2rem;
                grid-column: 2 / 3;
                width: 10.125rem;
                height: 10.348rem;

                @include mq-width('max', 'sm') {
                    @media screen and (max-width: 349px) {
                        width: 8.125rem;
                        height: 8.348rem;
                    }
                    width: 9.125rem;
                    height: 9.348rem;
                }

                @include mq-width('min', 'xl') {
                    width: 18.188rem;
                    height: 18.75rem;
                    top: -3.438rem;
                }
            }
            
            .team__figure--1 {
                width: 9.047rem;
                height: 9.047rem;

                @include mq-width('max', 'sm') {
                    @media screen and (max-width: 349px) {
                        width: 7.047rem;
                        height: 7.047rem;
                    }
                    width: 8.047rem;
                    height: 8.047rem;
                }

                @include mq-width('min', 'xl') {
                    width: 16.25rem;
                    height: 16.25rem;
                }
            }
        }
    }

    .testimony__section {
        margin-top: 5rem;
        margin-bottom: 6rem;

        @include mq-width('min', 'xl') {
            margin-left: 10rem;
            margin-top: 8rem;
        }

        .testimony__h2 {
            font-size: 1.5rem;
            width: 96%;
            padding-left: .5rem;

            @include mq-width('min', 'xl') {
                font-size: 2.25rem;
                width: 77%;
            }
        }

        .testimony__div {
            display: flex;
            margin-top: 3rem;

            .testimony__figure {
                width: 5.125rem;
                img {
                    border-radius: .75rem;
                }
            }

            .testimony__container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1.875rem;
                gap: .75rem;
            }

            .testimony__p {
                font-size: 1.5rem;
                font-weight: $fw-medium;
            }

            .testimony__span {
                color: map-get($palette, 'grey-shaded');
                font-size: 1.125rem;
            }
        }
    }
}
