@use '../abstracts' as *;

.button {
    color: map-get($palette, 'light-white');
    background-color: map-get($palette, 'light-blue');
    padding: .50rem 1.5rem;
    margin: .25rem 0 0 0;
    border: none;
    border-radius: .75rem;
    position: absolute;
    left: 15rem;
    cursor: pointer;
    
    @include mq-width('min', 'xl') {
        margin: .30rem 0 0 0;
        padding: .65rem 1.5rem;
        left: 33.15rem;
    }
}