@use '../abstracts' as *;

form {
    display: flex;
    flex-direction: column;
        
    label {
        color: map-get($palette, 'grey-shaded');
        font-size: .625rem;
        font-weight: $fw-medium;
        margin-bottom: .5rem;

        @include mq-width('min', 'xl') {
            font-size: .875rem;
        }
    }
        
    div {
        display: flex;
        justify-content: flex-end;
    }

    input {
        background-color: map-get($palette, 'light-white');
        width: 18.188rem;
        height: 2.938rem;
        border: none;
        border-radius: .75rem;
        
        &:where(:focus)::placeholder {
            padding-left: 0;
        }

        &:focus {
            outline: none;
            padding-left: 1rem;
            box-shadow: 0 0 2.188rem map-get($palette, 'grey');
        }

        @media screen and (max-width: 374px) {
            @include mq-width('max', 'sm') {
                width: 16rem;
            }
        }

        @include mq-width('min', 'xl') {
            width: 21.875rem;
            height: 3.563rem;
        }
    }

    ::placeholder {
        color: map-get($palette, 'light-grey');
        font-size: .875rem;
        padding-left: 1rem;
    }
}
