@use '../abstracts' as *;

form {
    display: flex;
    flex-direction: column;
        
    label {
        color: map-get($palette, 'grey-shaded');
        font-size: .625rem;
        font-weight: $fw-medium;
        margin-bottom: .5rem;

        @include mq-width('min', 'xl') {
            color: map-get($palette, 'light-white');
            font-size: .875rem;
        }
    }
        
    div {
        display: flex;
    }

    input {
        background-color: map-get($palette, 'light-white');
        border: none;
        border-radius: .75rem;
        padding: .75rem 2rem .75rem 0;
        
        @include mq-width('min', 'xl') {
            padding: 1rem 9.25rem 1rem 0;
        }
    }

    ::placeholder {
        color: map-get($palette, 'light-grey');
        font-size: .875rem;
        padding: 0 0 0 1rem;
    }
}
