@use '../abstracts' as *;

.services__a {
    color: map-get($palette, 'grey-shaded');
    background-color: map-get($palette, 'opaque-grey');
    border-radius: .75rem;
    display: inline-block;
    padding: .5rem .75rem;

    &:active {
        color: #fff;    
        background-color: map-get($palette, 'light-blue');
        transition: all .3s ease-in-out;
    }
    
    @include mq-width('min', 'xl') {
        &:hover {
            color: #fff;    
            background-color: map-get($palette, 'light-blue');
            transition: all .3s ease-in-out;
        }
    }
}